/* Styles */

.margen{
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 10px;
}

.fondo{
    background-color: rgba(18, 166, 188, 0.775);
    padding: 10px;
    height: 80px;
    font-size: 25px;
    font-weight: bold;
}

.inicio{
    max-width: 100%;
    max-height: 100%;
}

.promS{
    color: black;
}

.serieClick{
    cursor: pointer;
}